.popup__title {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  padding:  0 0 38px 0;
  margin: 0;
}

@media screen and (max-width: 580px) {
  .popup__title {
    padding-bottom: 76px;
    font-size: 18px;
    line-height: 22px;
  }
}
