.popup__submit-button {
  background-color: black;
  color: white;
  max-height: 50px;
  font-size: 18px;
  line-height: 22px;
  padding-top: 13.66px;
  padding-bottom: 18.49px;
}

.popup__submit-button:hover {
  opacity: 0.8;
}
