.card__like-button {
  background-image: url('../../../images/icons/heart.svg');
  width: 21px;
  height: 19px;
  margin-left: auto;
  border: none;
  align-self: center;
}

.card__like-button:hover {
  opacity: 0.5;
}
