.card__delete-button {
  background-image: url('../../../images/icons/trash.svg');
  background-color: transparent;
  width: 18px;
  height: 19.3px;
  border: none;
  z-index: 3;
  position: absolute;
  right: 15px;
  top: 18px;
}

.card__delete-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
