.popup__form {
  display: flex;
  flex-flow: column;
  background-color: white;
  box-sizing: border-box;
  width: 430px;
  border-radius: 10px;
  padding: 34px 36px 36.5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width:580px) {
  .popup__form {
    padding: 25px 22px;
    margin: 13.62px 19px 0 19px;
    width: 282px;
  }
}
